*.Plo
*.Po
*.la
*.lo
*.o
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
doc/Makefile.in
doc/mhash.3
include/Makefile.in
include/mutils/mhash_config.h
include/mutils/mhash_config.h.in
install-sh
lib/Makefile.in
libtool
ltmain.sh
missing
src/Makefile.in
src/driver
src/frag_test
src/hmac_test
src/keygen_test
src/rest_test
test-driver
